/dist/
/public/js/bundle.min.js
/public/js/bundle.min.js.map
/public/3rd/semantic/dist/*
!public/3rd/semantic/dist/semantic.min.css
!public/3rd/semantic/dist/semantic.min.js

node_modules/

npm-debug.log
